# File to be added to the system/user crontab (user crontab is better). To add
# it, just type the command:
#
# `crontab -e`
#
# and past the last line of this file.  The default editor is vim (sorry,
# probably my fault) so if you don't how to use vim, and that's too bad for
# you, you'll want to type:
#
# `EDITOR=nano crontab -e`
#
# Then check that the cron deamon is running with:
#
# `systemctl status cron.service`
#
# If not, then start it with:
#
# `sudo systemctl start cron.service`
#
# You may want to adjust the path to the script below before adding it to the
# real crontab. Make sure to check if the `ts` utility is there. If not, just
# install the "moreutils" package.
#
#   -- M.

# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command
*/2	11-14	*	*	1-5	/home/pi/capture.sh "caps/canteen.jpg" | ts >> /home/pi/caps/canteen.log
# The script will run every 2 minutes, from 11H to 14H (don't know how to deal
# with recurrence and starts/ends with half hours) every month, every day of
# the month, from Monday to Friday.
